{% extends 'administrador/template_2.html' %} {% block css_imports %} {% endblock
    %} {% block formBase %}
    <div>
      <label for="nombre">NOMBRE</label>
      <input id="nombre" name="nombre" class="_input" required />
    </div>
    <div>
      <label for="descripcion">DESCRIPCION</label>
      <input id="descripcion" name="descripcion" class="_input" required />
    </div>
    <div>
        <label for="portada_url">MINIATURA (URL)</label>
        <input id="portada_url" name="portada_url" class="_input" required />
      </div>
    <div>
        <label for="duracion">DURACION</label>
        <input id="duracion" name="duracion" class="_input" required />
      </div>
    <div>
      <label for="video">VIDEO (URL)</label>
      <input id="video" name="video" class="_input" required />
    </div>
    <input id="serie_id" name="serie_id" value={{id}} class="disabled" required/>
    {% endblock %} {% block js_files %}
    <script src="../../static/js/admin/episodios.js"></script>
    {% endblock %}
    