<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link rel="stylesheet" href="../../static/css/init.css">
    <link rel="stylesheet" href="../../static/css/layoutUser.css">
    <link rel="stylesheet" href="../../static/css/display.css">
    <link rel="stylesheet" href="../../static/css/layoutadmin.css">
</head>
<body>
    <div class="background-dark-theme">
        <div class="navbar">
            <div class="nav-links">
                <div class="Logo">
                    <span>DEXTER</span>
                    <strong>TV</strong>
                </div>
                <a href="/admin/peliculas" class="nav-link">
                    Peliculas
                </a>
                <a href="/admin/series" class="nav-link">
                    Series
                </a>
                <a href="/admin/deportes" class="nav-link">
                    Deportes
                </a>
                <a href="/admin/categorias" class="nav-link">
                    Categorias
                </a>
                <a href="/admin/usuarios" class="nav-link">
                    Usuarios
                </a>
            </div>

            <a href="/login" class="nav-link">
                Cerrar Sesión
            </a>
        </div>
        <main class="container">
            <div class="card menu-inline">
                <input class="_input" value={{id}} id="input_search" placeholder="Id de serie" disabled/>
                <button id="button" class="_btn _btn__primary">VER LISTA</button>
                <button class="menu-inline__item" id="item_nuevo">
                    AGREGAR
                </button>
            </div>
            <div class="card" style="width: 100%;">
                <div id="data_searched"></div>
                <div class="forms-crud">
                    <form id="form"
                        class="disabled" method="post">
                        <h3 id="form-title-add">AGREGAR {{ typeForms }}</h3>
                        <h3 id="form-title-modify">MODIFICAR {{ typeForms }} </h3>
                        <div class="form-body">
                            <input id="id" name="id" class="disabled"/>
                            {% block formBase %}
                            {% endblock formBase %}
                        </div>
                        <button class="_btn _btn__primary btn-save" type="submit">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        let TitleAdd = $('#form-title-add')
        let TitleModify = $('#form-title-modify')
        let Form = $('#form');
        let dataSearched = $('#data_searched');
        let InputSearch = $('#input_search')
    </script>
    {% block js_files %}
    {% endblock js_files %}
    <script src="../../static/js/datable_2.js"></script>
</body>
</html>