@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    font-family: 'Varela Round', sans-serif;
}
* {
    box-sizing: border-box;
}

:root {
    --primary: rgba(0,0,88, 1);
    --primary-transparent : rgba(0,0,88,.5);
    --card-transparent: rgba(63, 78, 167, 0.5);
    --primary-normal: #2d30f3;
    --complementary: #f0c60b;

}

