{% extends 'user/template.html' %} 

{% block css_imports %}
<link rel="stylesheet" href="../../static/css/contenidoIndividual.css">
{% endblock %}

{% block main %}
    <div class="portada-multimedia">   
        <div class="degradade"></div>
        <img src={{pelicula.portada_url}}  alt="..."/>
        <div class="portada-content">
            <h1>{{ pelicula.nombre }}</h1>
            <a href={{pelicula.video}} target="_blank" class="nav-link">
                Reproducir
            </a>
            <p>
                {{ pelicula.descripcion }}
            </p>
        </div>
    </div>
{% endblock %}