{% extends 'user/template.html' %} 

{% block css_imports %}
<link rel="stylesheet" href="../../static/css/contenidoIndividual.css">
{% endblock %}

{% block main %}
    <div class="portada-multimedia">   
        <div class="degradade"></div>
        <img src={{serie.portada_url}}  alt="..."/>
        <div class="portada-content">
            <h1>{{ serie.nombre }}</h1>
            <a href={{serie.trailer}} target="_blank" class="nav-link">
                Ver trailer
            </a>
            <a href="/user/temporadas/{{serie.id}}" class="nav-link">
                Ver temporadas
            </a>
            <p>
                {{ serie.descripcion }}
            </p>
        </div>
    </div>
{% endblock %}